In [3]:
import pandas as pd
import numpy as np

In [4]:
data = pd.read_csv("movies.csv")

In [5]:
data.head()

,movieId,title,genres
0,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy
1,2,Jumanji (1995),Adventure|Children|Fantasy
2,3,Grumpier Old Men (1995),Comedy|Romance
3,4,Waiting to Exhale (1995),Comedy|Drama|Romance
4,5,Father of the Bride Part II (1995),Comedy

In [7]:
data.drop(["movieId","title"], axis=1, inplace=True)

In [8]:
data.head()

                                        genres
0  Adventure|Animation|Children|Comedy|Fantasy
1                   Adventure|Children|Fantasy
2                               Comedy|Romance
3                         Comedy|Drama|Romance
4                                       Comedy

In [9]:
count = data['genres'].value_counts()
print(count)

Drama                                       4520
Comedy                                      2294
Documentary                                 1942
Comedy|Drama                                1264
Drama|Romance                               1075
                                            ...
Adventure|Children|War                         1
Adventure|Comedy|Sci-Fi|Thriller|War           1
Action|Adventure|Children|Comedy|Mystery       1
Drama|Mystery|Romance|Sci-Fi|Thriller          1
Adventure|Comedy|Crime|Mystery                 1
Name: genres, Length: 1342, dtype: int64